# Whitelist
!.gitkeep
!README.md
!.gitignore
!/Code

# Blacklist
*~
*.tmp
#comment
*.py[co]
Sandbox
Results
.vscode
*.pdf
*~
*.aux
*.dvi
*.log
*.nav
*.out
*.snm
*.toc
*.Rhistory
Week2/Code/ben_align_seqs_fasta_pre-pt2.py
